.main-puzzle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5rem;
    padding: 4rem 9rem 4rem 7rem;

    touch-action: none;
}
.main-block1-square{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0.8rem;
    padding: 0;
}
.main-block1-square img{
    position: relative;
    width: 13rem;

}
.main-border{
    position: relative;
    border: 1rem solid #005a84;
    border-radius: 20px;
    height: 35rem;
    width: 90%;
}
.main-block2-square{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0;
}